.estimated-profit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 70px 0 70px  ;
}

.data h5{
  color: rgb(184, 184, 184);
  font-size: 1rem;
  margin: 0 0 20px; 
}            